<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <context-param>
        <param-name>c_param</param-name>
        <param-value>c_value</param-value>
    </context-param>
    <servlet>
        <servlet-name>bankServlet</servlet-name>
        <servlet-class>geekfactory.homefinance.web.servlet.BankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletConfigServlet</servlet-name>
        <servlet-class>
            geekfactory.homefinance.web.servlet.ServletConfigServlet
        </servlet-class>
        <init-param>
            <param-name>param1</param-name>
            <param-value>value1</param-value>
        </init-param>
        <init-param>
            <param-name>param2</param-name>
            <param-value>value2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>servletContextServlet</servlet-name>
        <servlet-class>
            geekfactory.homefinance.web.servlet.ServletContextServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bankServlet</servlet-name>
        <url-pattern>/bankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletConfigServlet</servlet-name>
        <url-pattern>/servlet-config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletContextServlet</servlet-name>
        <url-pattern>/servlet-context</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/start-page.html</welcome-file>
    </welcome-file-list>
</web-app>