<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>c_param</param-name>
        <param-value>c_value</param-value>
    </context-param>
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>geekfactory.homefinance.web.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionServlet</servlet-name>
        <servlet-class>
            geekfactory.homefinance.web.servlet.TransactionServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletConfigServlet</servlet-name>
        <servlet-class>
            geekfactory.homefinance.web.servlet.ServletConfigServlet
        </servlet-class>
        <init-param>
            <param-name>param1</param-name>
            <param-value>value1</param-value>
        </init-param>
        <init-param>
            <param-name>param2</param-name>
            <param-value>value2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>servletContextServlet</servlet-name>
        <servlet-class>
            geekfactory.homefinance.web.servlet.ServletContextServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionServlet</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletConfigServlet</servlet-name>
        <url-pattern>/servlet-config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletContextServlet</servlet-name>
        <url-pattern>/servlet-context</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/start-page.html</welcome-file>
    </welcome-file-list>
</web-app>